extends layout

block content
  h1= title

  div
    table
      thead
        tr
         th First Name
         th Last Name
         th Email
      tbody
        each user in users
          tr
            td #{user.get('first_name').value}
            td #{user.get('last_name').value}
            td #{user.get('email').value}